<form [formGroup]="form">
    <div id="outer-div">
        <!-- style="background: url('world.jfif')"-->
        <div id="inner-div" style="margin-top: 5em;margin-bottom: 5em;">
            <div class="form-group row pl-2">
                <div class="col-md-12" style="align-content: left;">
                    <h3><i>Pronađi let</i></h3>
                    <mat-form-field>
                        <mat-label><span>&#9992;</span> Polazište: </mat-label>
                        <input matInput class="form-control" type="text" formControlName="polaziste" placeholder="Grad ili Aerodrom" required>
                        <span style="color:red" *ngIf="form.get('polaziste').touched && form.get('polaziste').errors">Polje je obavezno!</span>
                    </mat-form-field>

                    <mat-form-field class="pl-4">
                        <mat-label style="text-align: right;"><span>&#9992;</span> Odredište</mat-label>
                        <input matInput class="form-control" type="text" formControlName="odrediste" placeholder="Grad ili Aerodrom" required>
                        <span style="color:red" *ngIf="form.get('odrediste').touched && form.get('odrediste').errors">Polje je obavezno!</span>
                        <!--  [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors}"-->
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field class="pl-4">
                        <input matInput [matDatepicker]="picker" formControlName="datumpolaska" placeholder="Datum polaska">
                        <span style="color:red" *ngIf="form.get('datumpolaska').touched && form.get('datumpolaska').errors">Polje nije adekvatno popounjeno!</span>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="pl-4">
                        <input matInput [matDatepicker]="picker1" formControlName="datumpovratka" placeholder="Datum povratka">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-select class="form-control col-md-5" formControlName="klasa" placeholder="Izaberite klasu">
                        <span style="color:red" *ngIf="form.get('klasa').touched && form.get('klasa').errors">Polje nije adekvatno popounjeno!</span>
                        <mat-option value="Ekonomska">Ekonomska</mat-option>
                        <mat-option value="Prva">Biznis</mat-option>
                    </mat-select>
                    <!--
          <mat-form-field class="pl-5">
            <input matInput class="form-control" formControlName="brOsoba" type="number" placeholder="Broj osoba" required>
          </mat-form-field>
          -->
                </div>

                <div class="col-md-12" style="margin-top: 1em;">
                    <mat-checkbox formControlName="samoDirektni">Samo direktni</mat-checkbox>
                    <mat-radio-group class="col-md-7 pl-2" formControlName="dvosmjerna">
                        <mat-radio-button value="true">Dvosmjerna</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="col-md-12 pt-2">
                    <!-- style="margin-left: 17em;"-->
                    <p class="ml-auto">
                        <button [disabled]="!form.valid" type="button" style="align-content: center; width: 60%;" class="btn btn-primary" (click)='trazi()'>Traži</button>
                    </p>
                    <p>
                        <span style="color:red; font-size: small;" *ngIf="!form.valid">Molimo Vas da adekvatno popunite sva polja!</span>
                    </p>
                </div>
            </div>
        </div>

    </div>

</form>
<div style="margin-top: 2em;">
    <!--  id="reklama"-->
    <h3 style="text-align: center;"><i>Aranžmani</i></h3>
    <nav style="border:1px solid black;">
        <div class="form-group row pl-2">
            <div class="col-md-9" style="text-align: center; margin: auto;padding-left: 5%; padding-right: 5%;">
                <mat-tab-group (selectedTabChange)="navChanged($event);">
                    <mat-tab label="Ljeto 2020" [routerLink]="" [routerLinkActive]="['active']"></mat-tab>
                    <mat-tab label="Skandinavija" [routerLink]="'listaPonuda'" [routerLinkActive]="['active']"></mat-tab>
                    <mat-tab label="Njemačka" [routerLink]="'listaPonuda'" [routerLinkActive]="['active']"></mat-tab>
                    <mat-tab label="Austrija" [routerLink]="'listaPonuda'" [routerLinkActive]="['active']"></mat-tab>
                    <mat-tab label="Turska" [routerLink]="'listaPonuda'" [routerLinkActive]="['active']"></mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </nav>
    <div style="margin-top: 1em;" lass="col-md-9" style="text-align: center; padding-left: 5%; padding-right: 5%;">

        <label style="margin-left: 8em;" *ngFor="let ponuda of ponude"><img style="margin-top: 2em;" src="{{ ponuda.slika }}" [routerLink]="'/'" width="181" height="279"> <br>Vec od {{ ponuda.cijena }} KM</label>

    </div>


</div>