@import url('../../themes/default-theme.css');

.header-menu-nav .nav-item {
    /* padding-top: 1vh; */
    padding-right: 2vh;
}

.header-menu-right-nav .nav-item {
    /* padding-top: 1vh; */
    padding-right: 0;
}

.header-menu-nav .navbar-brand {
    margin-right: 0;
}

.header-menu-nav .first-item {
    border-left: 1px solid darkgray;
    padding-left: 1rem;
}

.header-menu-nav .dropdown-item:active,
.header-menu-nav .dropdown-item.active {
    background-color: var(--dark-primary-color);
    color: var(--text-icons-color);
}

/* THEME COLORS */

.primary-color {
    background-color: var(--primary-color);
    border: 1px solid red;
}
.imgDetails p {
  position: absolute;
  bottom: 0;
  }
