<header>
  <nav style="border:1px solid black;">

    <div class="form-group row pl-2">
        <div class="col-md-2">
            <img src="../../../assets/rsz_logo.png" [routerLink]="'/'">
         </div>
        <div class="col-md-6">
        <mat-tab-group>
          <mat-tab label="Karte" [routerLink]="'http://localhost:4200/pocetna'" [routerLinkActive]="['active']" href="http://localhost:4200/pocetna"></mat-tab>
          <mat-tab label="Prevoz" [routerLink]="'listaPonuda'" [routerLinkActive]="['active']"></mat-tab>
          <mat-tab label="Hoteli" [routerLink]="'pocetna'" [routerLinkActive]="['active']"></mat-tab>
          <mat-tab label="Ostalo" [routerLink]="'pocetna'" [routerLinkActive]="['active']"></mat-tab>
        </mat-tab-group>
        </div>
        <div class="col-md-2">
          <img src="../../../assets/rsz_1bih.png" [routerLink]="'/'" class="pl-3">
          <img src="../../../assets/rsz_uk2.png" [routerLink]="'/'" class="pl-3">

        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary">Prijava</button>
          <div class="imgDetails">
            <a href="" >Registracija</a>
          </div>

        </div>

      </div>



  </nav>
</header>
