<div class="card text-center form-group" style="border-color: black; margin-top: 1em;">
  <div class="col-md-12">
    <label style="font-weight: bold;">Austrian airlines</label>
  </div>
  <div class="col-md-12" style="margin-top: 1em">
  <div class="row">
    <div  style="display: grid;">
      <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;">17.01.2020.</label>
      <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;">Sarajevo-Berlin</label>
    </div>
    <div class="col-sm-3" style="display: grid;">
        <label>Polazak: 15:10 h</label>
        <label>Aerodrom: SJJ</label>
    </div>
    <label style="font-size: 2em;">&#8594;</label>

    <div class="col-sm-3" style="display: grid;">
      <label>Trajanje leta: 3h 30 min</label>
      <label>1 međustajanje</label>
  </div>
  <label style="font-size: 2em;">&#8594;</label>
    <div class="col-sm-3" style="display: grid;">
      <label>Dolazak: 18:40 h</label>
      <label>Aerodrom: TXL</label>
  </div>
</div>
  </div>

  <div class="col-md-12">
    <label style="font-weight: bold; margin-top: 1em">Croatian airlines</label>
  </div>
  <div class="col-md-12" style="margin-top: 1em">
  <div class="row">
    <div  style="display: grid;">
      <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;">22.01.2020.</label>
      <label style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;">Berlin-Sarajevo</label>
    </div>
    <div class="col-sm-3" style="display: grid;">
        <label>Polazak: 08:30 h h</label>
        <label>Aerodrom: TXL</label>
    </div>
    <label style="font-size: 2em;">&#8594;</label>

    <div class="col-sm-3" style="display: grid;">
      <label>Trajanje leta: 4h 15min</label>
      <label>1 međustajanje</label>
  </div>
  <label style="font-size: 2em;">&#8594;</label>
    <div class="col-sm-3" style="display: grid;">
      <label>Dolazak: 12:45 h</label>
      <label>Aerodrom: SJJ</label>
  </div>
</div>
  </div>

</div>
