<form [formGroup]="secondFormGroup">
<div class="row">
  <div class="card text-center form-group col-md-7" style="border-color: black; margin-top: 1em; margin-left: auto;
  margin-right: auto;">
    <div class="col-lg-12 col-xs-12" id="propertiesList">
    <div class="col-md-12">
      <h4><img  src="../../../assets/email.jpg" width="30px" height="30px"><i>Kontakt informacije </i></h4>
    </div>
    <div class="col-md-6" style="margin-top: 1em">
      <input matInput class="form-control" type="email" formControlName="email" placeholder="E-mail" required >
      <span style="color:red" *ngIf="secondFormGroup.get('email').touched && secondFormGroup.get('email').errors">Polje je obavezno!</span>
    </div>

    <div class="col-md-6" style="margin-top: 1em">
      <input (onchange)="potvrdaEmaila($event)" matInput class="form-control" type="email" formControlName="potvrdiemail" placeholder="Potvrda E-mail" required >
      <span style="color:red" *ngIf="secondFormGroup.get('potvrdiemail').touched && secondFormGroup.get('potvrdiemail').errors">Polje je obavezno!</span>
    </div>

    <div class="col-md-6" style="margin-top: 1em">
      <mat-select formControlName="drzava" placeholder="Izaberite državu" required>
        <mat-option value="AU">Austria</mat-option>
        <mat-option value="BiH">Bosna i Hercegovina</mat-option>
        <mat-option value="GER">Njemačka</mat-option>
        <mat-option value="SLO">Slovenija</mat-option>
      </mat-select>
      <span style="color:red" *ngIf="secondFormGroup.get('drzava').touched && secondFormGroup.get('drzava').errors">Polje je obavezno!</span>
    </div>

    <div class="col-md-6" style="margin-top: 1em">
      <input matInput class="form-control" type="text" formControlName="broj" placeholder="Broj telefona" required >
      <span style="color:red" *ngIf="secondFormGroup.get('broj').touched && secondFormGroup.get('broj').errors">Polje je obavezno!</span>
   </div>

    <div class="col-md-12" style="margin-top: 1em">
      <mat-checkbox formControlName="saglasnost"> Ne želim primati reklame o jeftinim letovima, aranžmanima i drugim informacijama</mat-checkbox>
    </div>
  </div>
  </div>
  </div>

  <div class="row">
    <div class="card text-center form-group col-md-7" style="border-color: black; margin-top: 1em; margin-left: auto;
    margin-right: auto;">
      <div class="col-lg-12 col-xs-12" id="propertiesList">
      <div class="col-md-12">
        <h4><img  src="../../../assets/user.png" width="30px" height="30px"><i>Informacije o putniku</i></h4>
      </div>
      <div>
        <img  src="../../../assets/info.png" width="25px" height="20px"><label>Molimo Vas da unesete informacije tačno onako kako stoje u pasošu</label>
      </div>
      <div class="col-md-6" style="margin-top: 1em">
        <mat-radio-group class="col-md-7 pl-2" formControlName="mr" required>
          <mat-radio-button value="true">Mr</mat-radio-button>
          <mat-radio-button value="true">Mrs/Ms</mat-radio-button>
        </mat-radio-group>
        <span style="color:red" *ngIf="secondFormGroup.get('mr').touched && secondFormGroup.get('mr').errors">Polje je obavezno!</span>

        <!--
        <mat-radio-group class="col-md-7 pl-2" formControlName="mrs">

        </mat-radio-group>
        -->
      </div>

      <div class="col-md-6" style="margin-top: 1em">
        <input matInput class="form-control" type="text" formControlName="ime" placeholder="Ime" required >
        <span style="color:red" *ngIf="secondFormGroup.get('ime').touched && secondFormGroup.get('ime').errors">Polje je obavezno!</span>
      </div>

      <div class="col-md-6" style="margin-top: 1em; margin-bottom: 1em">
        <input matInput class="form-control" type="text" formControlName="prezime" placeholder="Prezime" required >
        <span style="color:red" *ngIf="secondFormGroup.get('prezime').touched && secondFormGroup.get('prezime').errors">Polje je obavezno!</span>
      </div>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="card text-center form-group col-md-7" style="border-color: black; margin-top: 1em; margin-left: auto;
      margin-right: auto;">
        <div class="row col-lg-12 col-xs-12" id="propertiesList">
        <div class="col-md-6" style="text-align: left;">
         <img  src="../../../assets/koferii1.jpg" >
        </div>
        <div class="col-md-6">
          <div>
            <h4>Prijava prtljaga</h4>
             <label> Prijavite prtljag ovdje. Do 50% jeftinije nego na aerodromu! </label>
           </div>
           <div>
             <label><i>1 x 23 kg već od 23 KM</i></label>
           </div>
           <div>
             <mat-radio-group class="col-md-7 pl-2" formControlName="prijava" required>
               <mat-radio-button (click)="prijava($event)"  value="true">DA</mat-radio-button>
                <label>  </label>
               <mat-radio-button (click)="prijavaNE($event)" value="false">NE</mat-radio-button>
             </mat-radio-group>
             <span style="color:red" *ngIf="secondFormGroup.get('prijava').touched && secondFormGroup.get('prijava').errors">Polje je obavezno!</span>
          </div>
        </div>
      </div>
      </div>
      </div>

      <div class="row">
        <div class="card text-center form-group col-md-7" style="border-color: black; margin-top: 1em; margin-left: auto;
        margin-right: auto;">
          <div class="row col-lg-12 col-xs-12" id="propertiesList">
          <div class="col-md-5" style="text-align: left;">
           <img  src="../../../assets/koferii1.jpg" >
          </div>
          <div class="col-md-7">
            <div>
              <h4>Usluga izgubljenog prtljaga</h4>
               <label>
                 <li> Pratite odloženu prtljagu i primite je u roku od 96 sati</li>
                 <li> 105 KM za svaku torbu koja ne stigne u roku od 96 sati</li>
                 <li> U realnom vremenu primajte ažuriranja putem e-maila i SMS-a o statusu odloženog prtljaga</li>
               </label>
             </div>
             <div>
               <label><i>Već od 35 KM</i></label>
             </div>
             <div>
               <mat-radio-group class="col-md-7 pl-2" formControlName="izgubljen" required>
                 <mat-radio-button (click)="izgubljeno($event)" value="true">DA</mat-radio-button>
                  <label><br>  </label>
                 <mat-radio-button (click)="izgubljenoNE($event)" value="false">NE</mat-radio-button>
               </mat-radio-group>
               <span style="color:red" *ngIf="secondFormGroup.get('izgubljen').touched && secondFormGroup.get('izgubljen').errors">Polje je obavezno!</span>
           </div>
          </div>
        </div>
        </div>
        </div>

        <div class="row">
          <div class="card text-center form-group col-md-7" style="border-color: black; margin-top: 1em; margin-left: auto;
          margin-right: auto;">
            <div class="row col-lg-12 col-xs-12" id="propertiesList">
            <div class="col-md-12">
             <h4><img  src="../../../assets/jelo.png" style="height: 30px; width: 30px;" >Poseban meni</h4>
            </div>
            <div class="col-md-12">
              <div style="text-align: left;">
                 <label>
                  Ako iz zdravstvenih ili ideoloških razloga imate posebne prehrambene potrebe, zahtjev možete podnijeti ovdje:
                 </label>
               </div>

               <div>
                <mat-select formControlName="jelo" placeholder="Izaberite meni" >
                  <mat-option value="AU">Bez glutena</mat-option>
                  <mat-option value="BiH">Bez laktoze</mat-option>
                  <mat-option value="GER">Veganska</mat-option>
                  <mat-option value="SLO">Vegeterijanska</mat-option>
                  <mat-option value="SLO">Košer</mat-option>
                  <mat-option value="SLO">Islamska</mat-option>
                  <mat-option value="SLO">Dječija</mat-option>
                </mat-select>
               </div>
               <div>
                 <label>

                 </label>
               </div>
            </div>
          </div>
          </div>
          </div>

        <div class="row">
          <div class="card text-center form-group col-md-7" style="border-color: black; margin-top: 1em; margin-left: auto;
          margin-right: auto;">
            <div class="row col-lg-12 col-xs-12" id="propertiesList">
            <div class="col-md-12">
             <h4><img  src="../../../assets/ticket.jpg" style="height: 30px; width: 30px;" >Fleksibilna karta</h4>
            </div>
            <div class="col-md-12">
              <div style="text-align: left;">
                 <label>
                   <li>Besplatno ponovite rezervaciju! Promjenite svoje planove putovanja bez dodatnih naknada.</li>
                   <li> Pomoću fleksibilne ulaznice ponovno ćemo rezervirati vašu kartu za drugi datum. Jednostavno i lako.</li>
                   <li>Štedi vam nevolje i troškove otkazivanja karte.</li>
                   <li>Stvar je u tome što je fleksibilna ulaznica dostupna samo u trenutku rezervacije.</li>
                 </label>
               </div>
               <div>
                 <label><i>Već od 25 KM</i></label>
               </div>
               <div>
                 <mat-radio-group class="col-md-7 pl-2" formControlName="karta" required>
                   <mat-radio-button (click)="fleksibilna($event)" value="true">DA  </mat-radio-button>
                    <label><br>  </label>
                   <mat-radio-button (click)="fleksibilnaNE($event)" value="false">NE</mat-radio-button>
                 </mat-radio-group>
                 <span style="color:red" *ngIf="secondFormGroup.get('karta').touched && secondFormGroup.get('karta').errors">Polje je obavezno!</span>
               </div>
            </div>
          </div>
          </div>
          </div>
          <!--  [disabled]="!form.valid"
            (click)="pom()"

          -->

      <div style="text-align: center; height: 5em;">
        <button mat-button matStepperPrevious style="border-radius: 15px;height: 50%;width: 5em;">Nazad</button>
        <button  [disabled]="!secondFormGroup.valid" (click)="putnik()" mat-button matStepperNext type="button" class="button button5 col-sd-12" style="width: 5em;height: 50%; border-radius: 5px; -webkit-box-shadow: 10px 10px 53px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 53px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 53px 0px rgba(0,0,0,0.75);">Dalje</button>
      </div>

</form>





